a
{
	color: #00f;
	text-decoration: underline;
}

body
{
	padding: 0;
	margin: 0;
	width: 100%;
}

body *
{
	font-family: "Lucida Grande", "Verdana", "Arial", sans-serif;
	font-size: 11px;
}

h1
{
	font-size: 300%;
	color: #6D98AB;
}

.error
{
	color: red;
}

span.priority {
	padding: 3px;
	display: block;
}

span.Highest {
	background-color: #f33;
}

span.High {
	background-color: #f60;
}

span.Low {
	background-color: #36c;
}

span.Lowest {
	background-color: #9cf;
}

