a
{
	color: #00f;
	text-decoration: underline;
}

body
{
	padding: 0;
	margin: 0;
}

body *
{
	font-family: "Lucida Grande", "Verdana", "Arial", sans-serif;
	font-size: 11px;
}

h1
{
	font-size: 300%;
	color: #6D98AB;
}

.error
{
	color: red;
}

