<html>
	<head>
		<script type='text/javascript' src='/static/js/jquery-1.4.2.min.js'></script>            
		<script type="text/javascript" src="/static/js/jquery.cookies.2.2.0.js"></script>
		<script type="text/javascript" src="/static/js/common.js"></script>
		<link href="/static/css/acreport.css" rel="stylesheet" type="text/css">
		<link href="/static/css/login.css" rel="stylesheet" type="text/css">
		<script type="text/javascript">
			function setApiKey()
			{
				storeApiKey($("#apiKey").val());
			}
		</script>
		<title>Login - Active Collab Task Reporter</title>
	</head>
	<body>
		<h1>Login to ${APIHost}</h1>
		<form method="GET" id="login">
#if (${invalidKey})
			<div class="error">Active Collab API has rejected your API key!</div>
#end
			<label for="apiKey">API key</label>
			<input id="apiKey" type="text" id="apiKey" #if(${apiKey})value="${apiKey}"#end/>
			<input id="submit" type="submit" value="Done" onclick="javascript:setApiKey();"/>
		</form>
		<div id="contact">
			<a href="https://github.com/daadi/ACReport" target="_blank">Active Collab Task Reporter</a>
		</div>
	</body>
</html>

