<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title></title>
		<link href="/static/css/acreport.css" rel="stylesheet" type="text/css">
		<link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
		<link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
		<link href="/static/css/demo_table.css" rel="stylesheet" type="text/css">
		<link href="/static/css/ColumnFilterWidgets.css" rel="stylesheet" type="text/css">
		<script type='text/javascript' src='/static/js/jquery-1.4.2.min.js'></script>            
		<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="/static/js/ColumnFilterWidgets.js"></script>
		<script type="text/javascript" src="/static/js/jquery.dataTables.rowGrouping.js"></script>
		<script type="text/javascript" src="/static/js/projecthome.js"></script>
	</head>
	<body>


		<select id="projects">
#foreach( $p in $projects )
			<option value="$p.getId()" #if($project==$p)selected="selected"#end>$p.getName()</option>
#end		
		</select>

		<table id="tickets">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Priority</th>
					<th>Responsible</th>
					<th>Company</th>
					<th>Milestone</th>
					<th>Created</th>
					<th>Created By</th>
					<th>Updated</th>
					<th>Updated By</th>
					<th>Due on</th>
				</tr>
			</thead>
			<tbody>
#foreach( $ticket in $tickets )
				<tr>
					<td>$ticket.getTicketId()</td>
					<td><a href="$ticket.getPermalink()" target="_blank">$ticket.getName()</a></td>
					<td><span class="priority $ticket.getPriority()">$ticket.getPriority()<span></td>
					<td>#if ($ticket.getResponsible())$ticket.getResponsible().getName()#else n/a #end</td>
					<td>#if ($ticket.getResponsible())$ticket.getResponsible().getCompany().getName() #else n/a #end</td>
					<td>#if ($ticket.getMilestone())$ticket.getMilestone().getName() #else n/a #end</td>
					<td>$date.simpleDateTime($ticket.getCreatedOn())</td>
					<td>#if ($ticket.getCreatedBy())$ticket.getCreatedBy().getName()#else n/a #end</td>
					<td>#if ($ticket.getUpdatedOn())$date.simpleDateTime($ticket.getUpdatedOn())#else$date.simpleDateTime($ticket.getCreatedOn())#end</td>
					<td>#if ($ticket.getUpdatedBy())$ticket.getUpdatedBy().getName()#else n/a #end</td>
					<td>#if ($ticket.getDueOn())$date.simpleDate($ticket.getDueOn())#else#end</td>
				</tr>
#end
			</tbody>
		</table>
	</body>
</html>

